<div class="container-buttons">
  <div class="button-row">
    <button class="custom-button" id="home-button-1" [routerLink]="'/tipos_paquetes'">
      <h1>Tipos de paquete</h1>
    </button>
    <button class="custom-button" id="home-button-2" [routerLink]="'/admins_trabajadores'">
      <h1>Administradores Trabajadores</h1>
    </button>
  </div>
  <div class="button-row">
    <button class="custom-button" id="home-button-3" [routerLink]="'/envios'">
      <h1>Envíos registrados</h1>
    </button>
    <button class="custom-button" id="home-button-4" [routerLink]="'/empresas_transporte'">
      <h1>Empresas transportistas</h1>
    </button>
  </div>
</div>
