.custom-header {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  .custom-header mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .custom-header button {
    text-transform: uppercase; /* Convertir el texto en mayúsculas */
    font-weight: 600; /* Grosor de fuente */
    font-size: 14px; /* Tamaño de fuente */

  }
  
  