<div class="custom-header">
    <mat-toolbar>
        <button mat-button [routerLink]="'/home'">Home</button>
        <button mat-button [routerLink]="'/tipos_paquetes'">Tipos de paquete</button>
        <button mat-button [routerLink]="'/admins_trabajadores'">Administradores / Trabajadores</button>
        <button mat-button [routerLink]="'/envios'">Envíos registrados</button>
        <button mat-button [routerLink]="'/empresas_transporte'">Empresas externas de transporte</button>
    </mat-toolbar>
</div>