<app-header></app-header>
<div class="mat-elevation-z8">
    <mat-table #table [dataSource]="tipos_paquetes">
  
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef> Tipo de paquete </mat-header-cell>
        <mat-cell *matCellDef="let tipo_paquete"> {{tipo_paquete.tipo}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="intervalo_kg">
        <mat-header-cell *matHeaderCellDef> Intervalo de kg </mat-header-cell>
        <mat-cell *matCellDef="let tipo_paquete"> {{tipo_paquete.intervalo_kg}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="formula_precio">
        <mat-header-cell *matHeaderCellDef> Fórmula cálculo precio </mat-header-cell>
        <mat-cell *matCellDef="let tipo_paquete"> {{tipo_paquete.formula_precio}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
  
