<app-header></app-header>
<div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <ng-container matColumnDef="tipo_paquete">
        <mat-header-cell *matHeaderCellDef> Tipo de paquete </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tipo_paquete}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="intervalo_kg">
        <mat-header-cell *matHeaderCellDef> Intervalo de kg </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.intervalo_kg}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="formula">
        <mat-header-cell *matHeaderCellDef> Fórmula cálculo precio </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.formula}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
  
